<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidemenu" name="m403752_pid0_t9141" dd_name="左侧分类" ddt-area="mix_403752" ddt-floor="mix_403752">
    <div class="con flq_head">图书分类</div>
    <div class="con flq_body">
        <div class="level_one">
            <dl class="con primary_dl">
                <dt class="con " name="m403752_pid5367_t10276"><span>教育</span></dt>
                <dd class="con sec_cate dd_level1"><a href="#" target="_blank" title="教材" class=""> 教材 </a>
                    <a href="#" target="_blank" title="外语" class=""> 外语 </a> <a href="#" target="_blank"
                                                                                title="考试" class=""> 考试 </a>
                    <a href="#" target="_blank" title="中小学教辅" class=""> 中小学教辅 </a> <a href="#"
                                                                                      target="_blank"
                                                                                      title="工具书"
                                                                                      class="last_a"
                                                                                      ddt-pit="text_5"
                                                                                      ddt-src="http://book.dangdang.com/dictionary">
                        工具书 </a></dd>
            </dl>
        </div>
        <div class="level_one">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> <a class="" href="#" target="_blank" title="电子书">电子书 </a> <a class="" href="#"
                                                                                        target="_blank"
                                                                                        title="/当当阅读器">/当当阅读器 </a> </span>
                </dt>
            </dl>
            <div class="hide submenu" type="item" style="display: none; top: -1px;">
                <div class="con eject_main">
                    <div class="col eject_left">
                        <dl class="inner_dl" ddt-area="mix_5358">
                            <dt><a class="" href="#" target="_blank" title="文艺">文艺 </a></dt>
                            <dd><a class="dd_first " href="#" target="_blank" title="小说"><span>小说</span></a>
                                <a class="" href="#" target="_blank" title="文学"><span>文学</span></a> <a
                                        class="" href="#" target="_blank" title="传记"><span>传记</span></a> <a
                                        class="" href="#" target="_blank" title="青春文学"><span>青春文学</span></a>
                                <a class="" href="#" target="_blank" title="动漫/幽默"><span>动漫/幽默</span></a> <a
                                        class="" href="#" target="_blank" title="艺术"><span>艺术</span></a>
                            </dd>
                        </dl>
                        <dl class="inner_dl" ddt-area="mix_5359">
                            <dt><a class="" href="#" target="_blank" title="网络文学">网络文学 </a></dt>
                            <dd><a class="dd_first " href="#" target="_blank" title="幻想"><span>幻想</span></a>
                                <a class="" href="#" target="_blank" title="漫画"><span>漫画</span></a> <a
                                        class="" href="#" target="_blank" title="社会"><span>社会</span></a> <a
                                        class="" href="#" target="_blank" title="言情"><span>言情</span></a>
                            </dd>
                        </dl>
                        <dl class="inner_dl" ddt-area="mix_5361">
                            <dt><a lass="" href="#" target="_blank" title="人文社科">人文社科 </a></dt>
                            <dd><a class="dd_first " href="#" target="_blank"
                                   title="哲学/宗教"><span>哲学/宗教</span></a> <a class="" href="#" target="_blank"
                                                                           title="历史"><span>历史</span></a> <a
                                    class="" href="#" target="_blank" title="政治/军事"><span>政治/军事</span></a>
                                <a class="" href="#" target="_blank" title="文化"><span>文化</span></a> <a
                                        class="" href="#" target="_blank" title="社会科学"><span>社会科学</span></a>
                                <a class="" href="#" target="_blank" title="心理学"><span>心理学</span></a> <a
                                        class="" href="#" target="_blank" title="古籍"><span>古籍</span></a> <a
                                        class="" href="#" target="_blank" title="法律"><span>法律</span></a>
                            </dd>
                        </dl>
                        <dl class="inner_dl" ddt-area="mix_5362">
                            <dt><a class="" href="#" target="_blank" title="经管励志">经管励志 </a></dt>
                            <dd><a class="dd_first " href="#" target="_blank"
                                   title="成功/励志"><span>成功/励志</span></a> <a class="" href="#" target="_blank"
                                                                           title="管理"><span>管理</span></a> <a
                                    class="" href="#" target="_blank" title="经济"><span>经济</span></a> <a
                                    class="" href="#" target="_blank" title="投资理财"><span>投资理财</span></a>
                            </dd>
                        </dl>
                        <dl class="inner_dl" ddt-area="mix_5363">
                            <dt><a class="" href="#" target="_blank" title="生活">生活 </a></dt>
                            <dd><a class="dd_first " href="#" target="_blank" title="保健"><span>保健</span></a>
                                <a class="" href="#" target="_blank" title="亲子家教"><span>亲子家教</span> </a> <a
                                        class="" href="#" target="_blank" title="旅游"><span>旅游</span></a> <a
                                        class="" href="#" target="_blank" title="美食"><span>美食</span></a> <a
                                        class="" href="#" target="_blank" title="育儿"><span>育儿</span></a> <a
                                        class="" href="#" target="_blank" title="美妆"><span>美妆</span></a> <a
                                        class="" href="#" target="_blank" title="两性"><span>两性</span></a> <a
                                        class="" href="#" target="_blank"
                                        title="手工DIY"><span>手工DIY</span></a> <a class="" href="#"
                                                                                target="_blank"
                                                                                title="孕产/胎教"><span>孕产/胎教</span></a>
                                <a class="" href="#" target="_blank" title="休闲/爱好"><span>休闲/爱好</span></a> <a
                                        class="" href="#" target="_blank" title="体育运动"><span>体育运动</span></a>
                                <a class="" href="#" target="_blank" title="风水占卜"><span>风水占卜</span></a> <a
                                        class="" href="#" target="_blank" title="家庭家居"><span>家庭家居</span></a>
                            </dd>
                        </dl>
                        <dl class="inner_dl" ddt-area="mix_5364">
                            <dt><a nname="book-65152-9163_1-1830334_1" class="" href="#" target="_blank"
                                   title="童书">童书 </a></dt>
                            <dd><a class="dd_first " href="#" target="_blank"
                                   title="中国儿童文学"><span>中国儿童文学</span></a> <a class="" href="#"
                                                                             target="_blank"
                                                                             title="科普/百科"><span>科普/百科</span></a>
                                <a class="" href="#" target="_blank" title="外国儿童文学"><span>外国儿童文学</span></a>
                                <a class="" href="#" target="_blank" title="幼儿启蒙"><span>幼儿启蒙</span></a> <a
                                        class="" href="#" target="_blank"
                                        title="动漫/卡通"><span>动漫/卡通</span></a> <a class="" href="#"
                                                                                target="_blank"
                                                                                title="婴儿读物"><span>婴儿读物</span></a>
                                <a class="" href="#" target="_blank" title="益智游戏"><span>益智游戏</span></a> <a
                                        class="" href="#" target="_blank"
                                        title="励志/成长"><span>励志/成长</span></a></dd>
                        </dl>
                        <dl class="inner_dl" ddt-area="mix_5388">
                            <dt><a nname="book-65152-9163_1-1830338_1" class="" href="#" target="_blank"
                                   title="科技">科技 </a></dt>
                            <dd><a class="dd_first " href="#" target="_blank" title="科普读物"><span>科普读物</span></a>
                                <a class="" href="#" target="_blank" title="计算机网络"><span>计算机网络</span></a> <a
                                        class="" href="#" target="_blank" title="医学"><span>医学</span></a> <a
                                        class="" href="#" target="_blank" title="工业技术"><span>工业技术</span></a>
                                <a class="" href="#" target="_blank" title="建筑"><span>建筑</span></a> <a
                                        class="" href="#" target="_blank" title="自然科学"><span>自然科学</span></a>
                                <a class="" href="#" target="_blank" title="农业林业"><span>农业林业</span></a></dd>
                        </dl>
                        <dl class="inner_dl" ddt-area="mix_5389">
                            <dt><a nname="book-65152-9163_1-1830346_1" class="" href="#" target="_blank"
                                   title="教育">教育 </a></dt>
                            <dd><a class="dd_first " href="#" target="_blank"
                                   title="中小学教辅"><span>中小学教辅</span></a> <a class="" href="#" target="_blank"
                                                                           title="考试"><span>考试</span></a> <a
                                    class="" href="#" target="_blank" title="教材"><span>教材</span></a> <a
                                    class="" href="#" target="_blank" title="外语"><span>外语</span></a> <a
                                    class="" href="#" target="_blank" title="工具书"><span>工具书</span></a></dd>
                        </dl>
                    </div>
                    <div class="col eject_right" name="m403752_pid5368_5366_t9148"></div>
                </div>
            </div>
        </div>
        <div class="level_one" name="m403752_pid5369_t9144" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> <a nname="book-65152-9163_1-468598_1" class="" href="#" target="_blank"
                              title="小说">小说 </a> </span></dt>
            </dl>
        </div>
        <div class="level_one" name="m403752_pid5370_t9144" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> 文艺 </span></dt>
                <dd class="dd_level1"><a class="dd_first " href="#" target="_blank" title="文学">文学</a> <a
                        class="" href="#" target="_blank" title="传记">传记</a> <a class="" href="#"
                                                                               target="_blank"
                                                                               title="艺术">艺术</a> <a
                        class="last_a" href="#" target="_blank" title="摄影">摄影</a></dd>
            </dl>
        </div>
        <div class="level_one" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> <a class="" href="#" target="_blank" title="青春文学">青春文学 </a> <a class="" href="#"
                                                                                          target="_blank"
                                                                                          title="/动漫">/动漫 </a> <a
                        class="" href="#" target="_blank" title="· 幽默">·&nbsp;幽默 </a> </span></dt>
            </dl>
        </div>
        <div class="level_one" name="m403752_pid5372_t9144" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> <a class="" href="#" target="_blank" title="童书">童书 </a> </span></dt>
                <dd class="dd_level1"><a class="dd_first " href="#" target="_blank" title="0-2">0-2</a> <a
                        class="" href="#" target="_blank" title="3-6">3-6</a> <a class="" href="#"
                                                                                 target="_blank"
                                                                                 title="7-10">7-10</a> <a
                        class="" href="#" target="_blank" title="11-14">11-14</a> <a class="" href="#"
                                                                                     target="_blank"
                                                                                     title="科普/百科">科普/百科</a>
                    <a class="" href="#" target="_blank" title="绘本">绘本</a> <a class="" href="#"
                                                                              target="_blank"
                                                                              title="文学">文学</a> <a
                            class="last_a" href="#" target="_blank" title="英语">英语</a></dd>
            </dl>
        </div>
        <div class="level_one" name="m403752_pid5373_t9144" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> 生活 </span></dt>
                <dd class="dd_level1"><a class="dd_first " href="#" target="_blank" title="孕期">孕期</a> <a
                        class="" href="#" target="_blank" title="两性">两性</a> <a class="" href="#"
                                                                               target="_blank"
                                                                               title="育儿/早教">育儿/早教</a> <a
                        class="" href="#" target="_blank" title="亲子/家教">亲子/家教</a> <a class="" href="#"
                                                                                     target="_blank"
                                                                                     title="保健">保健</a> <a
                        class="" href="#" target="_blank" title="运动">运动</a> <a class="" href="#"
                                                                               target="_blank"
                                                                               title="美妆">美妆</a> <a class=""
                                                                                                    href="#"
                                                                                                    target="_blank"
                                                                                                    title="手工/DIY">手工/DIY</a>
                    <a class="" href="#" target="_blank" title="美食">美食</a> <a class="" href="#"
                                                                              target="_blank"
                                                                              title="旅游">旅游</a> <a class=""
                                                                                                   href="#"
                                                                                                   target="_blank"
                                                                                                   title="休闲">休闲</a>
                    <a class="" href="#" target="_blank" title="家庭/家居">家庭/家居</a> <a class="last_a" href="#"
                                                                                    target="_blank"
                                                                                    title="风水/占卜">风水/占卜</a>
                </dd>
            </dl>
        </div>
        <div class="level_one" name="m403752_pid5374_t9144" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> 人文社科 </span></dt>
                <dd class="dd_level1"><a class="dd_first " href="#" target="_blank" title="历史">历史</a> <a
                        class="" href="#" target="_blank" title="古籍">古籍</a> <a class="" href="#"
                                                                               target="_blank"
                                                                               title="哲学/宗教">哲学/宗教</a> <a
                        class="" href="#" target="_blank" title="文化">文化</a> <a class="" href="#"
                                                                               target="_blank"
                                                                               title="政治/军事">政治/军事</a> <a
                        class="" href="#" target="_blank" title="法律">法律</a> <a class="" href="#"
                                                                               target="_blank" title="社会科学">社会科学</a>
                    <a class="last_a" href="#" target="_blank" title="心理学">心理学</a></dd>
            </dl>
        </div>
        <div class="level_one" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> 经管 </span></dt>
                <dd class="dd_level1"><a class="dd_first " href="#" target="_blank" title="管理">管理</a> <a
                        class="" href="#" target="_blank" title="投资理财">投资理财</a> <a class="" href="#"
                                                                                   target="_blank"
                                                                                   title="经济">经济</a> <a
                        class="last_a" href="#" target="_blank" title="音像">音像</a></dd>
            </dl>
        </div>
        <div class="level_one" name="m403752_pid5376_t9144" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> <a class="" href="#" target="_blank" title="励志/成功">励志/成功 </a> </span></dt>
            </dl>
        </div>
        <div class="level_one" name="m403752_pid5377_t9144" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> <a class="" href="#" target="_blank" title="科技">科技 </a> </span></dt>
                <dd class="dd_level1"><a class="dd_first " href="#" target="_blank" title="科普">科普</a> <a
                        class="" href="#" target="_blank" title="建筑">建筑</a> <a class="" href="#"
                                                                               target="_blank"
                                                                               title="医学">医学</a> <a class=""
                                                                                                    href="#"
                                                                                                    target="_blank"
                                                                                                    title="计算机">计算机</a>
                    <a class="" href="#" target="_blank" title="农林">农林</a> <a class="" href="#"
                                                                              target="_blank" title="自然科学">自然科学</a>
                    <a class="last_a" href="#" target="_blank" title="工业">工业</a></dd>
            </dl>
        </div>
        <div class="level_one">
            <dl class="con primary_dl">
                <dt class="con "><span> <a href="#" target="_blank" title="英文原版书" class=""> 英文原版书 </a> <a
                        href="#" target="_blank" title="港台图书" class=""> 港台图书 </a> </span></dt>
            </dl>
        </div>
        <div class="level_one">
            <dl class="con primary_dl">
                <dt class="con "><span> <a href="#" target="_blank" title="当当出版" class=""> 当当出版 </a> </span>
                </dt>
            </dl>
        </div>
        <div class="level_one">
            <dl class="con primary_dl">
                <dt class="con "><span style="background-image: none;"> <a href="#" target="_blank"
                                                                           title="期刊"
                                                                           class=""> 期刊 </a> </span></dt>
            </dl>
        </div>
        <div class="level_one last" name="m403752_pid5439_t10274" type="bar" father="1">
            <dl class="con primary_dl" name="m403752_pid5439_t10275" son="1">
                <dt class="con " name="m403752_pid5439_t10276"><span style="background-image: none;"> <a
                        nname="book-65152-9163_1-2319958_1"
                        href="http://category.dangdang.com/cp01.72.01.00.00.00.html" target="_blank"
                        title="文化礼品/工艺品" class="" ddt-pit="text_1"
                        ddt-src="http://category.dangdang.com/cp01.72.01.00.00.00.html"> 文化礼品/工艺品 </a> </span>
                </dt>
            </dl>
        </div>
    </div>
</div>
</body>
</html>



<div class="level_one" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> 经管 </span></dt>
                <dd class="dd_level1">
                    <a class="dd_first " href="#" target="_blank" title="管理">管理</a>
                    <a class="" href="#" target="_blank" title="投资理财">投资理财</a>
                    <a class="" href="#" target="_blank" title="经济">经济</a>
                    <a class="last_a" href="#" target="_blank" title="音像">音像</a></dd>
            </dl>
        </div>

                {% for i in E.object_list %}
                    <tr style="height: 20px">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.Name }}</td>
                        <td>{{ i.Salary }}</td>
                        <td>{{ i.Age }}</td>
                        <td>
                            <img src="{% static i.Pict.url %}" alt="" style="width: 20px">
                        </td>
                        <td>
                            <a href="{% url 'login_registapp:dellogic_db' %}?name={{ i.Name }}&num_page={{ E.number }}  "
                               onclick="delcof()">delete emp</a>&nbsp;{# 通过a标签,跳转views，删除数据库中的本条数据 #}
                            <a href="{% url 'login_registapp:updatelogic' %}?name={{ i.Name }}&num_page={{ E.number }}">update
                                emp</a></td>
                    </tr>
                {% endfor %}


                    {% for foo in  cate %}
                        {{ foo.name }}   #类名
                        <div class="level_one" name="m403752_pid5369_t9144" type="bar" father="1">
            <dl class="primary_dl" son="1" ddt-area="mix_5357">
                <dt><span> <a nname="book-65152-9163_1-468598_1" class="" href="#" target="_blank"
                              title="小说">小说 </a> </span></dt>
            </dl>
        </div>
                    {% endfor %}
                <div class="con flq_body">
                    {% for foo in  cate %}
                        {% if foo.parent_id < 1 %}

                            <div class="level_one">
                                <dl class="con primary_dl">
                                    <dt class="con " name="m403752_pid5367_t10276"><span>{{ foo.name }}</span></dt>
                                    <dd class="con sec_cate dd_level1">
                                       {% for i in cate %}
                                            {% if i.parent_id == foo.id %}
                                                <a href="#" target="_blank" title="教材" class=""> {{ i.name }} </a>
                                            {% endif %}
                                       {% endfor %}
                                    </dd>
                                </dl>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>


<div class="con flq_body">
                    <div class="level_one">
                        <dl class="con primary_dl">
                            <dt class="con " name="m403752_pid5367_t10276"><span>教育</span></dt>
                            <dd class="con sec_cate dd_level1"><a href="#" target="_blank" title="教材" class=""> 教材 </a>
                                <a href="#" target="_blank" title="外语" class=""> 外语 </a> <a href="#" target="_blank"
                                                                                            title="考试" class=""> 考试 </a>
                                <a href="#" target="_blank" title="中小学教辅" class=""> 中小学教辅 </a> <a href="#"
                                                                                                  target="_blank"
                                                                                                  title="工具书"
                                                                                                  class="last_a"
                                                                                                  ddt-pit="text_5"
                                                                                                  ddt-src="http://book.dangdang.com/dictionary">
                                    工具书 </a></dd>
                        </dl>
                    </div>


                    <div class="level_one">
                        <dl class="con primary_dl">
                            <dt class="con " name="m403752_pid5367_t10276"><span>教育</span></dt>
                            <dd class="con sec_cate dd_level1">
                                <a href="#" target="_blank" title="教材" class=""> 教材 </a>
                            </dd>
                        </dl>
                    </div>







 <li>
                        <dl class="clearfix">
                            <dt><a class="img" href="#" target="_blank"><img src="images/22876893-1_l.jpg"
                                                                             alt=""></a></dt>
                            <dd>
                                <p class="name"><a title="" href="#" target="_blank" style=" ">家庭系统排列——重建家庭秩序&nbsp;让爱自然流动</a>
                                </p>
                                <p class="author"><span class="author_t"></span>郑立峰 著</p>
                                <p class="price"><span class="rob"><span class="sign">￥</span><span
                                        class="num">19</span><span class="tail">.00</span></span><span
                                        class="price_r"><span class="sign">￥</span><span class="num">38</span><span
                                        class="tail">.00</span></span></p>
                                <span style="background: url(http://img4.ddimg.cn/00035/pic/xsq.png) no-repeat 0px 0px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/xsq.png',sizingMethod='noscale');"
                                      class="product_tags"></span></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt><a class="img" href="#" target="_blank"><img src="images/22876893-1_l.jpg"
                                                                             alt=""></a></dt>
                            <dd>
                                <p class="name"><a title="" href="#" target="_blank" style=" ">家庭系统排列——重建家庭秩序&nbsp;让爱自然流动</a>
                                </p>
                                <p class="author"><span class="author_t"></span>郑立峰 著</p>
                                <p class="price"><span class="rob"><span class="sign">￥</span><span
                                        class="num">19</span><span class="tail">.00</span></span><span
                                        class="price_r"><span class="sign">￥</span><span class="num">38</span><span
                                        class="tail">.00</span></span></p>
                                <span style="background: url(http://img4.ddimg.cn/00035/pic/xsq.png) no-repeat 0px 0px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/xsq.png',sizingMethod='noscale');"
                                      class="product_tags"></span></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt><a class="img" href="#" target="_blank"><img src="images/22876893-1_l.jpg"
                                                                             alt=""></a></dt>
                            <dd>
                                <p class="name"><a title="" href="#" target="_blank" style=" ">家庭系统排列——重建家庭秩序&nbsp;让爱自然流动</a>
                                </p>
                                <p class="author"><span class="author_t"></span>郑立峰 著</p>
                                <p class="price"><span class="rob"><span class="sign">￥</span><span
                                        class="num">19</span><span class="tail">.00</span></span><span
                                        class="price_r"><span class="sign">￥</span><span class="num">38</span><span
                                        class="tail">.00</span></span></p>
                                <span style="background: url(http://img4.ddimg.cn/00035/pic/xsq.png) no-repeat 0px 0px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/xsq.png',sizingMethod='noscale');"
                                      class="product_tags"></span></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt><a class="img" href="#" target="_blank"><img src="images/22876893-1_l.jpg"
                                                                             alt=""></a></dt>
                            <dd>
                                <p class="name"><a title="" href="#" target="_blank" style=" ">家庭系统排列——重建家庭秩序&nbsp;让爱自然流动</a>
                                </p>
                                <p class="author"><span class="author_t"></span>郑立峰 著</p>
                                <p class="price"><span class="rob"><span class="sign">￥</span><span
                                        class="num">19</span><span class="tail">.00</span></span><span
                                        class="price_r"><span class="sign">￥</span><span class="num">38</span><span
                                        class="tail">.00</span></span></p>
                                <span style="background: url(http://img4.ddimg.cn/00035/pic/xsq.png) no-repeat 0px 0px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/xsq.png',sizingMethod='noscale');"
                                      class="product_tags"></span></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt><a class="img" href="#" target="_blank"><img src="images/22876893-1_l.jpg"
                                                                             alt=""></a></dt>
                            <dd>
                                <p class="name"><a title="" href="#" target="_blank" style=" ">家庭系统排列——重建家庭秩序&nbsp;让爱自然流动</a>
                                </p>
                                <p class="author"><span class="author_t"></span>郑立峰 著</p>
                                <p class="price"><span class="rob"><span class="sign">￥</span><span
                                        class="num">19</span><span class="tail">.00</span></span><span
                                        class="price_r"><span class="sign">￥</span><span class="num">38</span><span
                                        class="tail">.00</span></span></p>
                                <span style="background: url(http://img4.ddimg.cn/00035/pic/xsq.png) no-repeat 0px 0px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/xsq.png',sizingMethod='noscale');"
                                      class="product_tags"></span></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt><a class="img" href="#" target="_blank"><img src="images/22876893-1_l.jpg"
                                                                             alt=""></a></dt>
                            <dd>
                                <p class="name"><a title="" href="#" target="_blank" style=" ">家庭系统排列——重建家庭秩序&nbsp;让爱自然流动</a>
                                </p>
                                <p class="author"><span class="author_t"></span>郑立峰 著</p>
                                <p class="price"><span class="rob"><span class="sign">￥</span><span
                                        class="num">19</span><span class="tail">.00</span></span><span
                                        class="price_r"><span class="sign">￥</span><span class="num">38</span><span
                                        class="tail">.00</span></span></p>
                                <span style="background: url(http://img4.ddimg.cn/00035/pic/xsq.png) no-repeat 0px 0px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/xsq.png',sizingMethod='noscale');"
                                      class="product_tags"></span></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt><a class="img" href="#" target="_blank"><img src="images/22876893-1_l.jpg"
                                                                             alt=""></a></dt>
                            <dd>
                                <p class="name"><a title="" href="#" target="_blank" style=" ">家庭系统排列——重建家庭秩序&nbsp;让爱自然流动</a>
                                </p>
                                <p class="author"><span class="author_t"></span>郑立峰 著</p>
                                <p class="price"><span class="rob"><span class="sign">￥</span><span
                                        class="num">19</span><span class="tail">.00</span></span><span
                                        class="price_r"><span class="sign">￥</span><span class="num">38</span><span
                                        class="tail">.00</span></span></p>
                                <span style="background: url(http://img4.ddimg.cn/00035/pic/xsq.png) no-repeat 0px 0px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/xsq.png',sizingMethod='noscale');"
                                      class="product_tags"></span></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt><a class="img" href="#" target="_blank"><img src="images/22876893-1_l.jpg"
                                                                             alt=""></a></dt>
                            <dd>
                                <p class="name"><a title="" href="#" target="_blank" style=" ">家庭系统排列——重建家庭秩序&nbsp;让爱自然流动</a>
                                </p>
                                <p class="author"><span class="author_t"></span>郑立峰 著</p>
                                <p class="price"><span class="rob"><span class="sign">￥</span><span
                                        class="num">19</span><span class="tail">.00</span></span><span
                                        class="price_r"><span class="sign">￥</span><span class="num">38</span><span
                                        class="tail">.00</span></span></p>
                                <span style="background: url(http://img4.ddimg.cn/00035/pic/xsq.png) no-repeat 0px 0px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/xsq.png',sizingMethod='noscale');"
                                      class="product_tags"></span></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt><a class="img" href="#" target="_blank"><img src="images/22876893-1_l.jpg"
                                                                             alt=""></a></dt>
                            <dd>
                                <p class="name"><a title="" href="#" target="_blank" style=" ">家庭系统排列——重建家庭秩序&nbsp;让爱自然流动</a>
                                </p>
                                <p class="author"><span class="author_t"></span>郑立峰 著</p>
                                <p class="price"><span class="rob"><span class="sign">￥</span><span
                                        class="num">19</span><span class="tail">.00</span></span><span
                                        class="price_r"><span class="sign">￥</span><span class="num">38</span><span
                                        class="tail">.00</span></span></p>
                                <span style="background: url(http://img4.ddimg.cn/00035/pic/xsq.png) no-repeat 0px 0px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/xsq.png',sizingMethod='noscale');"
                                      class="product_tags"></span></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt><a class="img" href="#" target="_blank"><img src="images/22876893-1_l.jpg"
                                                                             alt=""></a></dt>
                            <dd>
                                <p class="name"><a title="" href="#" target="_blank" style=" ">家庭系统排列——重建家庭秩序&nbsp;让爱自然流动</a>
                                </p>
                                <p class="author"><span class="author_t"></span>郑立峰 著</p>
                                <p class="price"><span class="rob"><span class="sign">￥</span><span
                                        class="num">19</span><span class="tail">.00</span></span><span
                                        class="price_r"><span class="sign">￥</span><span class="num">38</span><span
                                        class="tail">.00</span></span></p>
                                <span style="background: url(http://img4.ddimg.cn/00035/pic/xsq.png) no-repeat 0px 0px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img4.ddimg.cn/00035/pic/xsq.png',sizingMethod='noscale');"
                                      class="product_tags"></span></dd>
                        </dl>
                    </li>

<li><span class="num num1">{{ p.id }}</span>
                                <div><a class="list_name" href="">{{ p.author }}+':经典巨作'+</a>
                                    <dl class="list_con clearfix">
                                        <dt><a href=""><img src="{{ p.face }}"/></a></dt>
                                        <dd>
                                            <p class="name"><a href="#">{{ p.name }}+'：'+{{ p.author }}+'2019年新书力作'</a></p>
                                            <b>￥45.40</b><em>￥45.40</em><a class="pl" href="#">{{ p.review }}+'条评论'</a></dd>
                                    </dl>
                                </div>
                            </li>






































